.displayWindow {
  background-image: radial-gradient(
    $gradient-blue-start 5%,
    $gradient-blue-end 95%
  );
  border: solid 2px $light-blue;
  color: $highlight-blue;
  height: $display-window-height;
  margin: -1px 0;
  width: $grid-width;
}
.displayText {
  font-size: $display-font-size;
  margin: 12px;
  opacity: 0;
  text-align: center;
  transition: opacity 1.5s; //time/speed to get to opacity: 0 (fade-out)
}
.fadeText {
  opacity: 1;
  transition: opacity 0.1s; //time/speed to get to opacity: 1 (fade-in)
}
