.displayWindow {
	align-items: center;
	background-image: radial-gradient($gradient-blue-start 5%, $gradient-blue-end 95%);
	border: solid 2px $light-blue;
	color: $highlight-blue;
	display: flex;
	height: calc(((100vw * 1.7) / 5) / 2); // 0.5/5 of app height based on widht => ((w * 1.7) / 5) / 2)
	justify-content: center;
	margin: -1px 0;
	width: 100%;
}
.displayText {
	font-size: 1.2rem;
	opacity: 0;
	transition: opacity 1.5s; //time/speed to get to opacity: 0 (fade-out)
}
.fadeText {
	opacity: 1;
	transition: opacity 0.1s; //time/speed to get to opacity: 1 (fade-in)
}
// Need to prevent scaling at max-width
@media screen and (min-width: 600px) {
	.displayWindow {
		height: calc(((600px * 1.7) / 5) / 2); // 0.5/5 of app height based on widht => ((w * 1.7) / 5) / 2)
	}
	.displayText {
		font-size: 1.8rem;
	}
}
