/*
  app H & W should fill 100vh & 100vw
  the internal drumpad grid & pad size should be dynamic and scale to fit within the given H & W of the view. So the grid should maintain a square ratio within the container.


  ASPECT RATIO = 3:5 || 600px:360px || 800px:480px

  .app-wrapper | .aspect-ratio-container
    .aspect-ratio-inner-wrapper
      .drumMachine | 
        .display-block | .drumpads-block
          .title-block | .drumpads-container | .bank-buttons-container | .displayWindow

  
  > overall size should be 5 (h) x 3 (w)
    >> grid is 3 x 3
    >> title + bank btns + text display = 2 x 1
      >>> title + bank btns = 1.5 x 1
        >>>> title = 1 x 1
        >>>> bank btns = .5 x 1
      >>> text = .5 x 1

  Start with width (portrait mode):
    > app container {
      width: 100vw;
      height: calc(100vw * 5/3); // 5/3 = 1.7
    }

    full width = 95vw
    full height = 5/3 of vw = calc(95vw * 1.7)

    1 unit of width = calc(95vw / 3)
    1 unit of height = 1/5 = calc((100vw * 1.7) / 5)
    1/2 unit of height = (1/5) / 2 = calc(((100vw * 1.7) / 5) / 2)



    App wrapper
      Components wrapper
        Component
*/

// variables.scss
//Layout:
$display-font-size: 1.6rem;
$display-window-height: 50px;
$grid-width: 460px;

// main.scss
.app-wrapper {
	display: flex;
	justify-content: center;
}

// drum-machine.scss
.bg-container {
	// height: 1400px;
	// width: 600px;

	height: 90vh;
	width: 100vw;
}
.grid {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.grid-cell {
	margin: auto;
}

// displayBanks.scss
.bank-buttons-container {
	margin: -1px 0;

	// height: $display-window-height;
	// width: $grid-width;
	height: 10vh;
	width: 100vw;
}
.bank-button {
	font-size: 1.2rem;
	font-weight: bolder;
	// height: $display-window-height;
	height: 10vh;
	// width: ($grid-width/2);
	width: 50vw;
}

// drumPad.scss
.buttons-container {
	align-items: center;
	display: grid;
	grid-template-columns: auto auto auto;
	justify-items: center;

	// height: $grid-width;
	// width: $grid-width;
	height: 100vw;
	width: 100vw;
}
.drum-pad {
	font-size: 1rem;

	// height: 140px;
	// width: 140px;

	height: 90%;
	width: 90%;
}
//Pulse animation cascaded after base styling
.pulse {
	height: 138px;
	width: 138px;
	font-size: 3rem;
}

// displayMessages.scss
.displayWindow {
	height: $display-window-height;
	margin: -1px 0;
	width: $grid-width;
}
.displayText {
	font-size: $display-font-size;
	margin: 12px;
	text-align: center;
}
