//Cool Colors:
$light-blue: #294b6f;
$dark-blue: #0d1735;
$highlight-blue: #40d9fd;
$dark-gray: rgb(19, 21, 22);
$gray: #4f4f4f;
$near-black: rgb(23, 23, 23);
$near-white: rgb(234, 234, 245);
$gradient-blue-start: #223c8c;
$gradient-blue-end: $dark-blue;

//Funky Colors:
$gradient-start: rgb(240, 240, 240);
$red: red;
$orange: rgb(255, 140, 0);
$yellow: rgb(235, 254, 24);
$aqua: rgb(31, 193, 182);
$chartreuse: chartreuse;
$green: green;
$blue: blue;
$purple: rgb(101, 11, 101);
$mauve: rgb(143, 80, 187);
$pink: rgb(237, 111, 186);

//Layout:
$display-font-size: 1.6rem;
$display-window-height: 50px;
$grid-width: 460px;
